################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/octo-sql/CopilotIndices/17.14.734.62261
/.vs/octo-sql/FileContentIndex
/.vs/octo-sql/v17
